[Desktop Entry]
Version=1.0
Type=Application
Name=Roblox Studio
NoDisplay=true
Comment=Launcher for Roblox Studio
Icon=grapejuice-roblox-studio
Exec=sh -c "$HOME/.cargo/bin/rsblox studio %u"
MimeType=x-scheme-handler/roblox-studio;x-scheme-handler/roblox;
Categories=Game;
StartupWMClass=RobloxStudio.exe
